.loginTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.signInStyle {
  background-color: white;
  width: 290px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #c7c7c7;
}

.googleLogo {
  text-align: left;
  margin-left: -252px;
  width: 25px;
  position: relative;
}

.space {
  margin-left: 56px;
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

@media only screen and (max-width: 700px) {
  .signInStyle {
    /* background-color: white; */
    
    
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #c7c7c7;
  }

  .space {
    margin-left: 6px;
    position: absolute;
    
    font-size: 10px;
  }

  .googleLogo {
    text-align: center;
    width: 20px;
    position: relative;
    margin-left: -100px;
  }
}